
$background: url(../images/JPG/DSC_0805.jpg);

#tag
{
    position: absolute;
    left: 40%;
    top: 200px;
}

.Hawaii
{
  
width: 100%;



}

#name{
  width: 300px;

}

#nameTag
{
    top:300px;
    position: absolute;
    max-width: 620px;
    max-height: 142px;
    opacity: 0;
    left:50%;
}

/* Responsive Layout*/


@media (min-width: 576px)
{

}
@media (min-width: 768px)
{

}
@media (min-width: 992px)
{


}
@media (min-width: 1200px)
{


}
