@import './Font.css';


#navbarLinks {
    color : white;
    font-family: 'Raleway';
}

.navbar
{
    background-color: '#000000'
}

body
{

    background-color: red;
    min-width: 320px;

}




#AL
{
    background: url(../images/SVG/Alabama.svg);
    min-height: 228px;
    min-width:  153px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;




}





.navbar
{
    transition: background .5s;

}



@media(min-width: 576px)
{

}

@media (min-width: 768px)

{

    #AL
    {

        width: 250px;
        height: 350px;
        left: 20px;
        top: 1275px;
    }

}

@media(min-width: 992px)
{
  #AL
  {
            top: 1200px;
  }
}

@media (min-width : 1200px)
{
    #AL
    {

        width: 300px;
        height: 450px;
        left : 50px;
    }

}
