@import './Font.css';


#navbarLinks {
    color : white;
    font-family: 'Raleway';
}

.navbar
{
    background-color: '#000000'
}

body
{
    
    background-color: cyan;
    min-width: 320px;

}




#AL
{
    background: url(../images/SVG/Alabama.svg);
    min-height: 228px;
    min-width:  153px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translate(-50%);


}





.navbar 
{
    transition: background .5s;

}



@media(min-width: 576px)
{
        
}

@media (min-width: 768px)

{

    #AL
    {
        top: 1000px;
        width: 250px;
        height: 500px;
        left: 150px;
    }

}

@media(min-width: 992px)
{
 

}

@media (min-width : 1200px)
{
    #AL
    {
        top: 1000px;
        min-width: 450px;
        min-height: 400px;
        left : 250px;
    }

}
