@import './Font.css';


#navbarLinks {
    color : white;
    font-family: 'Raleway';
}

.navbar
{
    background-color: '#000000'
}

body
{

    background-color: red;
    min-width: 320px;

}




#AL
{
    background: url(../images/SVG/Alabama.svg);
    min-height: 228px;
    min-width:  153px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 1150px;
    left: 50%;
    margin-left: -76.5px;





}





.navbar
{
    transition: background .5s;

}



/* Responsive Layout*/


@media(min-width: 576px)
{

}

@media (min-width: 768px)

{

    #AL
    {
      margin-left: 0px;
      left : 10px;
      width: 250px;
      height: 400px;
      top: 950px;


    }

}

@media(min-width: 992px)
{
  #AL
  {
    left: 50px;
      top: 1000px;
  }

}

@media (min-width : 1200px)
{
  #AL
  {
    width: 300px;
    height: 450px;
  }

}
