@import './Font.css';


#educationBg
{
   background: url(../images/SVG/Education_background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    min-width: 320px;
    top: 180px;

}

#schools
{
    position: relative;
    top: 150px;

}

#educationBg h1.yellowtail
{
    color : white;
    width: auto;
    font-size: 36px;
    top : 50px;
    position: relative;
    transform: translate(-50%, -50%);
}

#schoolImg
{
    width: 9vw;
    height: 9vw;
    max-height: 120px;
    max-width: 120px;
    min-width: 90px;
    min-height: 90px;
    position: relative;
    left:50%;
    top : -10px;
    transform: translate(-50%);
}

#schoolImgAum
{
     width: 12vw;
    height: 9vw;
    max-height: 120px;
    max-width: 300px;
    min-width: 160px;
    min-height: 90px;
    position: relative;
    left:50%;
    top : -10px;
    transform: translate(-50%);
}

#schools h5.raleway
{
    color : white;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: middle;

  
}

@media (min-width: 576px)
{
    #educationBg
    {
        height: 550px;
    }
}
@media (min-width: 768px)
{
        #educationBg h1.yellowtail
    {
        top: 90px;
        font-size: 70px;
        float: right;
    }

	#educationBg
	{
		height: 450px;
	}

	#schools
	{
		top: 150px;
		padding-left: 0px;
	
	}


}
@media (min-width: 992px)
{



}
@media (min-width: 1200px)
{

	#educationBg
	{
		height: 600px;
		top: 180px;
        right: 0px;

	}

	#educationBg h1.yellowtail
	{
		top: 90px;
		font-size: 70px;
        float: right;
    
	}

	#schools
	{
		top: 200px;
		padding-left: 0px;
		float :right;
		right: 200px;
	}




}