@import url('https://fonts.googleapis.com/css?family=Raleway|Yellowtail');
@import "~bootstrap/dist/css/bootstrap.css";

.raleway
{
    font-family: "Raleway";
}
.yellowtail
{
   font-family: "Yellowtail";
}



#test
{
    color: antiquewhite;
}
