
#background
{
	opacity: 1;
	position: absolute;
	height: 1400px;
	width: 100%;
	background-color: black;
	left: 0;
	top: 0;


}

#lineDrawing svg
{
	position : absolute;

	top: 300px;
	transform: translate(-50%, -50%);
}